@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
    height: fit-content !important;
}

.slick-prev::before,
.slick-next::before {
    padding: 1rem;
    background-color: #1477c6 !important;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
    opacity: 1 !important;
}

.dialogLeft {
    opacity: 0 !important;
    z-index: 3;
    left: 1rem !important;
    &::before {
        background-color: white !important;
        color: black !important;
        opacity: 1 !important;
    }
}

.dialogRight {
    opacity: 0 !important;
    z-index: 3;
    right: 3rem !important;
    &::before {
        background-color: white !important;
        color: black !important;
        opacity: 1 !important;
    }
}

.dialogLeft:hover::before,
.dialogRight:hover::before {
    color: #008dff !important;
}
